body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 22px;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Mezera mezi text boxem a tlačítkem */
}

input {
    text-align: center;
    width: 90px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

.pin-input {
    width: 40px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    color: #121212;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #cccccc;
}

button:active {
    background-color: #aaaaaa;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

/* Styl pro zobrazení aktuálního data a času */
.datetime {
    font-size: 16px;
    color: #f0f0f0;
    margin-top: 20px;
    font-weight: 400;
}

/* Styl pro patičku */
.footer {
    position: absolute;
    bottom: 20px;
    font-size: 14px;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer a:hover {
    color: #cccccc;
}
